{% extends 'base.html' %}
{% block title %} Order Detail {% endblock %}
{% block content %}


<br><br><br><br>

<div class ='col-sm-6 col-sm-offset-3'>
    <strong><p style="color: Gray">Your booking was successfully.We will contact you soon regarding your booking.Your booking details are as bellow
    </p></strong>
    <br>
    <p class="list-group-item active">
      <strong><span class="glyphicon glyphicon-tag"></span> Booking Detail</strong>
    </p>
    <a href="#" class="list-group-item"><strong>Order Id: </strong>{{order_detail.id}}</a>
    <a href="#" class="list-group-item"><strong>Full_name: </strong>{{order_detail.full_name}}</a>
    <a href="#" class="list-group-item"><strong>Car Name: </strong>{{order_detail.car}}</a>
    <a href="#" class="list-group-item"><strong>Price: </strong>{{order_detail.car.cost_par_day}}</a>
    <a href="#" class="list-group-item"><strong>Pick Up Location: </strong>{{order_detail.pick_up_location}}</a>
    <a href="#" class="list-group-item"><strong>Return Location: </strong>{{order_detail.return_location}}</a>
    <a href="#" class="list-group-item"><strong>Pick Up Date Time: </strong>{{order_detail.Pick_up_date_time}}</a>
    <a href="#" class="list-group-item"><strong>Return Date Time: </strong>{{order_detail.return_date_time}}</a>
    <a href="#" class="list-group-item"><strong>Email Address: </strong>{{order_detail.email_address}}</a>
    <a href="#" class="list-group-item"><strong>Phone Num: </strong>{{order_detail.phone}}</a><br>
    <a href="#" class="list-group-item"><strong>order status: </strong>{{order_detail.status}}</a><br>
    <div class="pull-right">
      {% comment %} <a href="{% url 'order_edit' detail.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit Booking</button></a>
      <a href="{% url 'order_delete' detail.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> Cancel Booking</button></a> {% endcomment %}
      <a href=""><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Print</button></a>
  
    </div>
  </div>

{% endblock %}